<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="com.msg.adt.plugin.todo.commands.scanfortodos"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.msg.adt.plugin.todo.handlers.ScanObjectHandler"
            commandId="com.msg.adt.plugin.todo.commands.scanfortodos">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <instanceof
                           value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryPackageNode">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryTempPackageNode">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.oo.ui.internal.classes.projectexplorer.AbapRepositoryClassNode">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.oo.ui.internal.interfaces.projectexplorer.AbapRepositoryInterfaceNode">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryObjectGenericLaunchableNode">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.programs.ui.internal.includes.projectexplorer.IncludeNode">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.tm.impl.Request">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.tm.impl.Task">
                     </instanceof>
                     <instanceof
                           value="com.sap.adt.projectexplorer.ui.internal.virtualfolders.VirtualFolderNode">
                     </instanceof></or>
                  <and>
                     <not>
                        <instanceof
                              value="com.sap.adt.projectexplorer.ui.internal.virtualfolders.VirtualTreeNode">
                        </instanceof>
                     </not>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.msg.adt.plugin.todo.commands.scanfortodos"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               commandId="com.msg.adt.plugin.todo.commands.scanfortodos"
               id="com.msg.adt.plugin.todo.menu"
               label="%menu.label">
            <command
                  commandId="com.msg.adt.plugin.todo.commands.scanfortodos"
                  label="%command.label"
                  style="push"
                  tooltip="%command.tooltip">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <instanceof
                              value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryPackageNode">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryTempPackageNode">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.oo.ui.internal.classes.projectexplorer.AbapRepositoryClassNode">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.oo.ui.internal.interfaces.projectexplorer.AbapRepositoryInterfaceNode">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.projectexplorer.ui.internal.node.AbapRepositoryObjectGenericLaunchableNode">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.programs.ui.internal.includes.projectexplorer.IncludeNode">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.projectexplorer.ui.internal.virtualfolders.VirtualFolderNode">
                        </instanceof>
                     </or>
                     <and>
                        <not>
                           <instanceof
                                 value="com.sap.adt.projectexplorer.ui.internal.virtualfolders.VirtualTreeNode">
                           </instanceof>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.sap.adt.tm.ui.tmview?after=additions">
         <menu
               id="com.msg.adt.plugin.todo.menu2"
               label="%menu.label.0">
            <command
                  commandId="com.msg.adt.plugin.todo.commands.scanfortodos"
                  label="%command.label.0"
                  style="push"
                  tooltip="%command.tooltip.0">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <instanceof
                              value="com.sap.adt.tm.impl.Request">
                        </instanceof>
                        <instanceof
                              value="com.sap.adt.tm.impl.Task">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.msg.adt.plugin.todo.preferences.TodoPreferencePage"
            id="com.msg.adt.plugin.todo.preferences.TodoPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.msg.adt.plugin.todo.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
